html {
  font-family: "Open Sans", sans-serif;
}

fieldset legend {
  padding-bottom: .5rem;
}

@media only screen and (min-width: 60em) {

  .pad-right {
    padding-right: .5em;
  }

  .pad-left {
    padding-left: .5em;
  }

}
