html {
  font-family: "Open Sans", sans-serif;
  background-color: #f2f2f2;
}

section {
  background-color: #fff;
}

.border {
  border-bottom: 1px solid #000;
}

@media only screen and (min-width: 60em) {

  .pad-right {
    padding-right: .5em;
  }

  .pad-left {
    padding-left: .5em;
  }

}
